#id-title {
    color: darkslateblue;
    font-size: 50px;
    font-style: unset;
    text-align: center;
    font-weight: bolder;
}

h1 {
    color: steelblue;
    border: thick double #32a1ce;
    text-align: center;
    background-color: aliceblue;
}

h2 {
    font-weight:bold;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    display: block;
    justify-content: center;
    text-align: center;
}

#id-image {
    position: center;
    top: 100px;
    left: 200px;

}

#img-caption {
    display: block;
    justify-content: center;
    text-align: center;
}

#tribute-info {
    font-style: italic;
    font-weight: bold;
    color:  navy;
    background-color: lightseagreen;
    display: block;
    justify-content: center;
    text-align: center;
    border-style: groove;
    border-color: black;
}

a {
    background-color: yellow;
    font-weight: bolder;
    display: block;
    text-align: center;
    text-shadow: 0cqw;
}

a:hover {
    background-color: palevioletred;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}


